#profileCard {
  width: 200px;
  padding: 25px;
  border: 2px solid black;
  margin: 30px;
  background-color: red;
}
.name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.bio {
  font-size: 25px;
  color: green;
  text-align: center;
}
img {
  width: 55%;
  border-radius: 3px;
}
#profileCard:hover {
  background-color: pink;
}





